* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

p {
  margin: 0;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
  clear: both;
}

.bold {
  font-weight: 800;
}

.right {
  float: right;
}

.md, .lg {
  background-color: black;
  border: 0;
}

.md {
  height: 5px;
}

.lg {
  height: 10px;
}

.sm-text {
  font-size: 0.85rem;
}

.calories-info h1 {
  margin: -5px -2px;
  overflow: hidden;
}

.calories-info span {
  font-size: 1.2em;
  margin-top: -7px;
}

/*
Create a new CSS rule using the `.indent` selector and sets its left margin to "1em".
Here's an example that changes the right margins of all paragraph elements: 
```
p {
  margin-right: 25px;
}
```
*/
