/*
  Let's make sure that all elements have adequate contrast to comply with WCAG
  (Web Content Accessibility Guidelines).

  WCAG defines two levels of compliance: AA (acceptable) and AAA (best).

  As we're aiming for the best accessibility here, let's aim for AAA
  compliance.

  First, ensure that the foreground `color` of '.top-bar a' and the
  `background-color` of '.top-bar' are in compliance.
*/

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Ubuntu, Calibri, Helvetica, Arial, sans-serif;
}

.top-bar {
  background: #37bcff;
}

.top-nav {
  display: flex;
  align-items: center;
  height: 45px;
}

.top-nav ul {
  display: flex;
}

.top-nav ul li {
  padding: 10px;
}

a[href] {
  color: blue;
}

.top-heading {
  font-weight: bold;
  font-size: 2em;
  margin: 0.67em 0;
  padding: 0;
}

.secondary-nav {
  padding: 10px;
  flex: 0 0 200px;
  min-height: calc(100vh - 45px);
  background: #9df;
}

.secondary-nav ul li {
  padding: 10px 0;
}

.top-nav ul, .secondary-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hamburger {
  display: none;
}

.form {
  padding: 20px 0;
}

.main-content {
  padding: 20px;
}

.outer {
  display: flex;
}

.field-label {
  font-size: 1em;
}

textarea.form-control {
  display: block;
  width: 100%;
  height: 5em;
}

.divider {
  height: 4px;
  width: 100%;
}

#other1:not(:checked) ~ #other2 {
  display: none;
}

.btn {
  font-size: 1em;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: #eee;
  margin-top: 0.5em;
}

.secondary-nav-heading {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  margin: 0.83em auto;
}

.skip-nav-link {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.skip-nav-link:focus {
  position: relative;
  height: unset;
  width: unset;
  overflow: unset;
  clip: unset;
  margin: 10px 5px;
  padding: 5px;
  top: 5px;
}
