:root {
  --penguin-size: 300px;
  --penguin-skin: gray;
  --penguin-belly: white;
  --penguin-beak: orange;
}

.penguin {
  position: relative;
  left: 0px;
  margin: auto;
  display: block;
  margin-top: 75px;
  width: var(--penguin-size, 300px);
  height: var(--penguin-size, 300px);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}

.right-cheek {
  top: 15%;
  left: 35%;
  background: var(--penguin-belly, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}

.left-cheek {
  top: 15%;
  left: 5%;
  background: var(--penguin-belly, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}
.chin {
  top: 25%;
  left: 5%;
  background: white;
  width: 90%;
  height: 70%;
  border-radius: 70% 70% 100% 100%;
}

.penguin-top {
  top: 10%;
  left: 25%;
  background: linear-gradient(45deg, rgb(57 57 57) 0%, rgb(239 240 228) 100%);
  width: 50%;
  height: 45%;
  border-radius: 70% 70% 65% 65%;
}

.penguin-bottom {
  top: 40%;
  left: 23.5%;
  background: linear-gradient(
    45deg,
    rgb(134 133 133) 0%,
    rgb(234 231 231) 25%,
    rgb(255 255 255) 67%
  );
  width: 53%;
  height: 45%;
  border-radius: 80% 80% 100% 100%;
}

.penguin-bottom::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 40%;
  background-color: #777676;
  border-radius: 0 0 100% 100%;
  top: 10%;
  left: 25%;
  opacity: 71px;
}

.shirt {
  position: relative;
  font-size: 30px;
  color: #6a6969;
  width: 50px;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  top: 165px;
  left: 127.5px;
  z-index: 3;
}

.shirt div {
  float: right;
  width: 50%;
  top: 22.5px;
  left: 10px;
}

.right-hand {
  top: 5%;
  left: 25%;
  background: linear-gradient(
    -90deg,
    rgb(108 107 107) 0%,
    rgb(209 210 199) 100%
  );
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(130deg);
  z-index: -1;
  animation-duration: 3s;
  animation-name: wave;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
  animation-timing-function: linear;
}

@keyframes wave {
  10% {
    transform: rotate(110deg);
  }
  20% {
    transform: rotate(130deg);
  }
  30% {
    transform: rotate(110deg);
  }
  40% {
    transform: rotate(130deg);
  }
}

.left-hand {
  top: 0%;
  left: 75%;
  background: linear-gradient(90deg, rgb(57 57 57) 0%, rgb(209 210 199) 100%);
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 30% 120%;
  transform: rotate(-45deg);
  z-index: -1;
}

.right-feet {
  top: 85%;
  left: 60%;
  background: var(--penguin-beak, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(-80deg);
  z-index: -2;
}

.left-feet {
  top: 85%;
  left: 25%;
  background: var(--penguin-beak, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(80deg);
  z-index: -2;
}

.right-eye {
  top: 45%;
  left: 60%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
  z-index: 2;
}

.left-eye {
  top: 45%;
  left: 25%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
  z-index: 2;
}

.sparkle {
  top: 25%;
  left: -23%;
  background: white;
  width: 150%;
  height: 100%;
  border-radius: 50%;
}

.blush-right {
  top: 65%;
  left: 15%;
  background: pink;
  width: 15%;
  height: 10%;
  border-radius: 50%;
  z-index: 2;
}

.blush-left {
  top: 65%;
  left: 70%;
  background: pink;
  width: 15%;
  height: 10%;
  border-radius: 50%;
  z-index: 2;
}

.beak-top {
  top: 60%;
  left: 40%;
  background: var(--penguin-beak, orange);
  width: 20%;
  height: 10%;
  border-radius: 50%;
  z-index: 2;
}

.beak-bottom {
  top: 65%;
  left: 42%;
  background: var(--penguin-beak, orange);
  width: 16%;
  height: 10%;
  border-radius: 50%;
  z-index: 2;
}

body {
  background: linear-gradient(
    45deg,
    rgb(118 201 255) 0%,
    rgb(247 255 222) 100%
  );
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.penguin * {
  position: absolute;
}

.ground {
  width: 100vw;
  height: calc(100vh - var(--penguin-size));
  background: linear-gradient(90deg, rgb(88 175 236) 0%, rgb(182 255 255) 100%);
  margin-top: -58px;
  z-index: -3;
  position: absolute;
}

.left-mountain {
  background: linear-gradient(rgb(203 241 228), rgb(80 183 255));
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 100px;
  transform: skew(0deg, 45deg);
  z-index: -4;
  position: absolute;
  top: 75px;
}

.background-mountain {
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(203 241 228), rgb(47 170 255));
  position: absolute;
  left: 100px;
  top: 225px;
  z-index: -5;
  transform: rotate(45deg);
}

.sun {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: yellow;
  right: -75px;
  top: -75px;
  border-radius: 50%;
}

.penguin:hover {
  transform: scale(1.5, 1.5);
  cursor: not-allowed;
}
