#bet-container
    label(for='bet-range-input') Place your bet:
    input#bet-range-input.mdl-slider.mdl-js-slider(type='range', min='1')
    span#bet-value-container.mdl-chip.mdl-chip--contact
        span#mdl-chip__token.mdl-chip__contact
        span#bet-value-input-val.mdl-chip__text
    button#bet.mdl-button.mdl-js-button.mdl-button--primary Bet
