#result-container
    h3
        | Your bet is $
        span#bet-in-result
        | . Good luck!
    #poker-table-container
        #bot-result-container
            h2 Bot
            #bot-result
        #player-result-container
            h2 You
            #player-result
    #result-rank-container
        #bot-rank
        #player-rank
    br
    #result-text-container
        #winner-text
        #cash-result
    #action-container
        button#end.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
            | End
        button#next.mdl-button.mdl-js-button.mdl-button--primary
            | Next
        button#refill.mdl-button.mdl-js-button.mdl-button--primary
            | Refill $100
