*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Baskervville", serif;
  color: linen;
  background-color: #202020;
}

h1 {
  font-family: "Anton", serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: linen;
}

section:last-child {
  margin-bottom: 3rem;
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  row-gap: 3rem;
}

.heading {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}


.hero {
  grid-column: 1 / -1;
  position: relative;
}

.hero-img {
  width: 100%;
  object-fit: cover;
}


.hero-title {
  position: absolute;
  top: 10%;
  left: 15%;
  color: orangered;
  font-size: 8rem;
}

.hero-subtitle {
  font-size: 2.4rem;
  color: orangered;
  text-align: center;
}

.author {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
}

.author-name a:hover {
  background-color: #306203;
}

.author-date {
  color: rgba(255, 255, 255, 0.5);
}

/* For `.social-icons` class you can use grid to arrange the layout. Add a display property and set it to grid, also please make the size bigger so we can see it better. How about 3rem for the size? */
.social-icons {

}

.text {
  grid-column: 2 / 3;
}