* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div:not([id="cover"]) {
    border-radius: 50%;
    position: absolute;
}

#container {
    width: 350px;
    height: 350px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#red {
    background-color: red;
    width: 250px;
    height: 250px;
    top: 50px;
    left: 50px;
}

#orange {
    background-color: orange;
    width: 235px;
    height: 235px;
    left: 57.5px;
    top: 57.5px;

}

#yellow {
    background-color: yellow;
    width: 220px;
    height: 220px;
    left: 65px;
    top: 65px;
}

#green {
    background-color: green;
    width: 205px;
    height: 205px;
    left: 72.5px;
    top: 72.5px;
}

#blue {
    background-color: blue;
    width: 190px;
    height: 190px;
    left: 80px;
    top: 80px;
}

#indigo {
    background-color: indigo;
    width: 175px;
    height: 175px;
    left: 87.5px;
    top: 87.5px;
}

#violet {
    background-color: violet;
    width: 160px;
    height: 160px;
    left: 95px;
    top: 95px;
}

#white {
    background-color: white;
    width: 145px;
    height: 145px;
    left: 102.5px;
    top: 102.5px;
}

#cover {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 125px;
    left: 50px;
    top: 175px;
}