#profile-container
    h2
        | Welcome 
        span#user-name
    span#cash-container.mdl-chip.mdl-chip--contact
      span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white $
      span#cash.mdl-chip__text
