#welcome-container
    .mdl-textfield.mdl-js-textfield
        input#user-name-input.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='user-name-input')
            | Please enter your name:
    button#start.mdl-button.mdl-button--primary.mdl-js-button
        | Start
