head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
    link(rel='stylesheet', href='style.scss')
    title Poker game
