* {
    box-sizing: border-box;
}


/* body {
    width: 100vw;
    height: 100vh;
    
} */

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#array-container {
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

}

#array-container>div {
    min-width: 15rem;
    height: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: 2px solid darkgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#starting-array-container {
    border: 4px solid darkblue !important;
}

#btn-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

button {
    padding: 5px;
}

#sort-btn {
    display: none;
}

span {
    border-radius: 2px;
    padding: 1px;
}