h1 {
  text-align: center;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: auto;
  padding: 10px;
  margin: 20px auto;
  height: 400px;
  /* Show campers the various align-content values */
  /* align-content: space-between; */
  /* align-content: start; */
  /* align-content: center; */
  /* align-content: end; */
  /* align-content: space-around; */
  align-content: space-evenly;
}

.box {
  flex: 0 0 250px;
  /*For flex-grow, start here and state that the first value reps the flex-grow proeprty for all the boxes (making the default 0, which they can override later)*/
  /*To demonstrate flex-shrink, ask campers to change the second value here to 1 so they can see some boxes become smaller than the others, and that the default (which can be overriden in other boxes) is set here)*/
  /* After going through order and flex-grow, tell campers to modify the third value here (flex-basis) to observe how flex-grow distribution changes due to different line breaks and remaining space */
  max-height: 120px;
  color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  order: 0; /* Set an initial order of 0 for all elements at first */
}

.box1 {
  background: #f16e79;
  order: 1; /* Use this to show campers that this would throw box 1 to the end, because every other box has an order of 0 at this point */
  flex-grow: 1; /* Use this on any box, to show that that box will grow if there's space on its line */
}

.box2 {
  background: #f4a261;
  order: 0; /* This will make box 2 stays in its position (the first on at this point) */
}

.box3 {
  background: #ffd166;
  order: 2; /* This will make box 3 appear after box 1 and after box 2, too */
  flex-shrink: 3; /* Use this (with flex: 0 0 250px) to show campers that box 3 will shrink three times as much as other boxes if there's not enough space on its line */
}

.box4 {
  background: #4caf50;
  order: 3; /* Make box 4 come after box 3 */
}
.box5 {
  background: #457b9d;
  order: 4; /* Make box 5 come after box 4 */
}

.box6 {
  background: #3f51b5;
  order: 5; /* Make box 6 come after box 5 */
  flex-grow: 1; /*Use this to show campers that any flex-grow of 1 and greater will make box 6 (the last box at this point) take up every other remaining space in the container */
}
